*{
    margin-top: 5px;
    
}
body{
    background-color: white;
    white-space: nowrap;
    padding-left: 10px;   
}
.container{
    background-color: rgb(243, 237, 237);
}
.PTZ, .row{
    border: 1px black solid;
}

label {
 margin-right: 20px;
 }
 .dew{
    display: none;
 }
